<optimizer-page name="index" package-path="./optimizer.json" />

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widgets Demo</title>
    <optimizer-head/>
</head>
<body>
    <div class="my-component" w-bind="./widget">
        <h1>My Component</h1>
    </div>

    <optimizer-body/>
    <w-init-widgets/>
</body>
</html>