<optimizer-page name="index" package-path="./optimizer.json" />

<layout-use template="../../layouts/default-layout.rhtml">
    <layout-put into="title" value="Home"/>
    <layout-put into="body">
        <h2>Weather Forecast</h2>
        

        <async-fragment data-provider="${data.weatherDataProvider}" var="weatherData">
            <app-weather weather-data="weatherData"/>
        </async-fragment>
        
    </layout-put>
</layout-use>